In [ ]:
# Data cleaning process
This datasource is from Un. The name of the csv file is "SYB66_246_202310_Population Growth, Fertility and Mortality Indicators"
Data will be cleaned to display only data from 2022. All invalid fields will be removed and data types corrected if necessary. 

Data cleaning will be done manually to explore the process

In [10]:
from pathlib import Path
import pandas as pd

# Define file paths
input_file = '../s3/imports/population_indicators.csv'
output_dir = Path('./data_folder')

In [13]:
# Reading the data 
data = pd.read_csv(input_file, skiprows=1)
data.head()

,Region/Country/Area,Unnamed: 1,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2010,Population annual rate of increase (percent),1.3,NaN,"United Nations Population Division, New York, ..."
1,1,"Total, all countries or areas",2010,Total fertility rate (children per women),2.6,NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,"Infant mortality for both sexes (per 1,000 liv...",37.1,NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2010,"Maternal mortality ratio (deaths per 100,000 p...",254,NaN,"World Health Organization (WHO), the United Na..."
4,1,"Total, all countries or areas",2010,Life expectancy at birth for both sexes (years),70.1,NaN,"United Nations Population Division, New York, ..."

Column names are mixed and in need of redefining and the header row is for some reason taking 2 rows, so we will add skip rows when reading csv

In [16]:
new_column_names = ['Region/Country/Area', 'Population growth and indicators of fertility and mortality', 'Year', 'Series', 'Value', 'Footnotes', 'Source']
data.columns = new_column_names
data.head()

,Region/Country/Area,Population growth and indicators of fertility and mortality,Year,Series,Value,Footnotes,Source
0,1,"Total, all countries or areas",2010,Population annual rate of increase (percent),1.3,NaN,"United Nations Population Division, New York, ..."
1,1,"Total, all countries or areas",2010,Total fertility rate (children per women),2.6,NaN,"United Nations Population Division, New York, ..."
2,1,"Total, all countries or areas",2010,"Infant mortality for both sexes (per 1,000 liv...",37.1,NaN,"United Nations Statistics Division, New York, ..."
3,1,"Total, all countries or areas",2010,"Maternal mortality ratio (deaths per 100,000 p...",254,NaN,"World Health Organization (WHO), the United Na..."
4,1,"Total, all countries or areas",2010,Life expectancy at birth for both sexes (years),70.1,NaN,"United Nations Population Division, New York, ..."

##### Now that the column names are correct, lets analyze the data types

In [17]:
data.dtypes

Region/Country/Area                                             int64
Population growth and indicators of fertility and mortality    object
Year                                                            int64
Series                                                         object
Value                                                          object
Footnotes                                                      object
Source                                                         object
dtype: object

The value field should be numeric value so lets change that

In [19]:
data['Value'] = pd.to_numeric(data['Value'], errors='coerce')
data.dtypes

Region/Country/Area                                              int64
Population growth and indicators of fertility and mortality     object
Year                                                             int64
Series                                                          object
Value                                                          float64
Footnotes                                                       object
Source                                                          object
dtype: object

##### Next we only want data that is from year 2022. Lets check if there are alot of null values in the 'Year' coulmn to ensure data integrity.

In [20]:
nan_count = data['Year'].isna().sum()
print(nan_count)

0

Great! The data happens to be well collected and there are no missing values in the year column. Lets filter the file to only store data from 2022.

In [21]:
data_2022 = data[
    (data['Year'] == 2022)
]

print(data_2022.head())

    Region/Country/Area  \
21                    1
22                    1
23                    1
24                    1
25                    1

   Population growth and indicators of fertility and mortality  Year  \
21                      Total, all countries or areas           2022
22                      Total, all countries or areas           2022
23                      Total, all countries or areas           2022
24                      Total, all countries or areas           2022
25                      Total, all countries or areas           2022

                                               Series  Value  \
21       Population annual rate of increase (percent)    0.8
22          Total fertility rate (children per women)    2.3
23  Infant mortality for both sexes (per 1,000 liv...   27.5
24    Life expectancy at birth for both sexes (years)   71.7
25         Life expectancy at birth for males (years)   69.1

                                         Footnotes  \
21  Projected estimate (medium fertility variant).
22  Projected estimate (medium fertility variant).
23  Projected estimate (medium fertility variant).
24  Projected estimate (medium fertility variant).
25  Projected estimate (medium fertility variant).

                                               Source
21  United Nations Population Division, New York, ...
22  United Nations Population Division, New York, ...
23  United Nations Statistics Division, New York, ...
24  United Nations Population Division, New York, ...
25  United Nations Population Division, New York, ...

The data is pretty hard so read to lets use **style.set_properties** for formatting

In [29]:
data_2022.head().style.set_properties(**{'text-align': 'left'})

### Okay! Now we are talking. The data is good and ready for modelling
Lets export the data for further use.

In [30]:
output_dir.mkdir(parents=True, exist_ok=True)

# Specify the file path for the output CSV
output_file_path = output_dir / 'processed_data_2022.csv'

# Export the DataFrame to a CSV file
data_2022.to_csv(output_file_path, index=False)

print(f"Data has been exported to {output_file_path}")

Data has been exported to data_folder\processed_data_2022.csv